<h1>Create a new Buy</h1>

<div class="form-container">
  <% form_for(@buy, :builder => LabeledBuilder) do |f| %>
    <%= f.error_messages %>
    <div id="form-fields">
      <%= render :partial => "form", :locals => { :f => f } %>  
    </div>
    <%= submit_tag "Create" %>
  <% end %>
</div>
