<h2>Plans</h2>
<ul>
  <li><%= link_to "New Plan", new_plan_path %></li>
  <li><%= link_to "View Plans", plans_path %></li>
</ul>
<ul>
  <li><%= link_to "New Buys", new_buy_path %></li>
  <li><%= link_to "Placements", placements_path %></li>
</ul>