<%= f.text_field :advertiser_name %>

<h2>Buys</h2>
<ul>
<% f.fields_for(:buys) do |b| %>
  <li id="<%= "new-buy" if b.object == f.object.buys.last %>">
    <fieldset>
      <legend>
        <% if b.object.new_record? %>
        Create Buy
        <% else %>
        Update Buy
        <% end %>
      </legend>
      <%= render :partial => "buys/form", :locals => { :f => b } %>
    </fieldset>
  </li>
<% end %>
  <li><%= link_to_remote "Add New Buy", :url => add_buy_path, :with => 'form_contents()' %></li>
</ul>
