<h1>Edit a Plan</h1>

<% form_for(@plan, :builder => LabeledBuilder) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= submit_tag("Save") %>
<% end %>
