<p>Advertiser Name: <%=h @plan.advertiser_name %></p>

<h2>Buys</h2>
<ul>
  <% @plan.buys.group_by(&:site).each do |site, buys| %>
    <li>
      Placements for <%= link_to site.name, site_path(site) %>
      <ul>
        <% buys.each do |buy| %>
          <% buy.placements.each do |placement| %>
            <li><%= placement.display_name %></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to "Edit", edit_plan_path(@plan) %>