<p>Advertiser Name: <%=h @plan.advertiser_name %></p>

<h2>Buys</h2>
<ul>
  <% @plan.buys.each do |buy| %>
    <li><%=h buy.display_name %></li>
  <% end %>
</ul>

<%= link_to "Edit", edit_plan_path(@plan) %>