<p><%= @plan.advertiser_name %></p>

<div>
  Buys:
  <ul>
    <% @plan.buys.each do |buy| %>
      <li><%= buy.display_name %></li>
    <% end %>
  </ul>
  <br />  
</div>

<%= link_to "Edit", edit_plan_path(@plan) %>