<p>Name: <%=h @site.name %></p>
<p>URL: <%=h @site.url %></p>
<p>Billing Contact: <%=h @site.billing_contact %></p>

<h2>Plans</h2>
<ul>
  <% @plans.each do |plan| %>
  <li><%= link_to plan.advertiser_name, plan_path(plan) %></li>
  <% end %>
</ul>
