<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>Centro Developer Exercise</title>
    
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <%= yield %>
    <hr />
    <%= link_to "Home", root_path %>
  </body>
</html>
